<h1>This is the sercret page!</h1>

<p>You found me!</p>

<img src="https://cdn.pixabay.com/photo/2015/04/23/22/00/tree-736885__340.jpg">

<li><a href="/register">Sign Up!</a></li>
<li><a href="/login">Login!</a></li>
<li><a href="/logout">Logout</a></li>